/*  your css code here. If applicable */
body{
	background-image: url("https://img.freepik.com/free-photo/futuristic-metaverse-empty-room-product-display-presentation-abstract-technology-scifi-with-neon-light-3d-background_56104-2314.jpg");
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

ul{
	background-color: white;
	padding: 0.3rem;
	margin-left: 0.5rem;
	width: 10rem;
	height: 100%;
}
ul > li{
	margin: 1rem;
	border-bottom: 1px solid black;
}